@page "/"
@using Azure.Data.Tables
@using ScoreBoardHub.Components
@using ScoreBoardHub.Data
@using System.ComponentModel.DataAnnotations
@inject TableService TableService

<PageTitle>Scoreboards</PageTitle>
<div class="content-wrapper">
    <h1>Scoreboards</h1>
</div>
<div class="content-wrapper">
    @if (loading)
    {
        <p>
            <em>Loading...</em>
        </p>
    }

    @if (!loading && scoreboards.Any())
    {
        @foreach (var scoreboard in scoreboards)
        {
            <a href="scoreboard/@scoreboard.RowKey" class="scoreboard-item">@scoreboard.RowKey</a>
        }
    }
    @if (!loading && !scoreboards.Any())
    {
        <p>No scoreboards found</p>
    }
    
    <NewScoreboardModal />
</div>

@code {
    private IEnumerable<TableEntity>? scoreboards;
    private bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        // Get score entries
        scoreboards = await TableService.GetScoreBoards();
        loading = false;
    }
}
